.title {
    position: relative;
}

.title__text-box {
    position: relative;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-bottom: 5rem;
    letter-spacing: 5rem;

    animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.2rem;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media (max-width: 37.5em) {
    .title {
        margin-top: 5rem;
    }

    .title__text-box {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .heading-primary--main {
        margin: 0;
        margin-bottom: 3rem;
        display: block;
        font-size: 4rem;
        font-weight: 700;
        margin-left: 2rem;
        letter-spacing: 4rem;
        animation: moveInLeft 1s ease-out;
    }

    .heading-primary--sub {
        margin-top: 1rem;
        font-size: 1rem;
        letter-spacing: 0.5rem;
    }
}
