.checkout {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: max-content;

    &__left {
        width: 60%;
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0.5rem 1rem rgba(39, 39, 39, 0.2);
    }

    &__title {
        margin-right: 10px;
        margin-bottom: 2rem;
        padding: 10px;
        border-bottom: 1px solid lightgray;
    }
}
