.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #002c55;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    margin: 0 20px;
    color: white;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 80%;
}

.header__searchInput:focus {
    outline: transparent;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: white;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
}
.header__optionLineOne {
    font-size: 1rem;
    text-transform: capitalize;
}
.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}
.header__optionBasket {
    display: flex;
    position: relative;
    margin-right: 4rem;
    align-items: center;
    color: white;
}

.header__basketCount {
    position: absolute;
    top: 0;
    text-align: left;
    right: -3rem;
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 37.5em) {
    .header {
        height: 5rem;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .header__option {
        display: flex;
        flex-direction: column;
        margin-left: 1.1rem;
        margin-right: 0.6rem;
        color: white;
    }

    .header__optionLineOne {
        font-size: 0.9rem;
        text-transform: capitalize;
    }

    .header__optionLineTwo {
        font-size: 1rem;
        font-weight: 700;
    }

    .header__optionBasket {
        display: flex;
        position: relative;
        margin-right: 2.4rem;
        align-items: center;
        color: white;
    }

    .header__basketCount {
        position: absolute;
        top: 0;
        text-align: left;
        right: -2.5rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header__logo {
        margin: 0 1rem;
        color: white;
    }

    .header__search {
        display: flex;
        flex: 1;
        align-items: center;
        border-radius: 0;
    }

    .header__searchInput {
        height: 1rem;
        padding: 1rem;
        border: none;
        width: 80%;
    }

    .header__searchIcon {
        padding: 5px;
        height: 20px !important;
        background-color: white;
    }

    .header__nav {
        display: flex;
        justify-content: space-evenly;
        margin-left: 3rem;
    }
}
