.checkoutProduct {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;

    &__info {
        padding-left: 2rem;

        > button {
            margin-top: 1rem;
        }
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    &__description {
        margin-bottom: 1rem;
    }

    &__category {
        font-size: 1rem;
        margin-bottom: 1rem;
        span {
            font-variant: small-caps;
            font-size: 1rem;
            background-color: #00c0ff;
            padding: 0.2rem 1rem;
            border-radius: 2px;
            width: max-content;
            color: white;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    &__price {
        margin-bottom: 1rem;
    }

    &__stars {
        display: flex;
        margin-left: 0.2rem;
    }

    &__star {
        color: #00c0ff;
    }

    &__image {
        object-fit: contain;
        width: 120px;
        // height: 180px;
    }
}
