.login {
    .login__linkBack {
        position: absolute;
        padding: 3rem;

        svg {
            font-size: 3rem;
            color: white;
        }
    }

    &__logo {
        margin-top: 20px;
        margin-bottom: 20px;
        object-fit: contain;
        width: 100px;
        margin-right: auto;
        margin-left: auto;
    }

    &__container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 300px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid lightgray;
        padding: 20px;
        box-shadow: 0 1rem 2rem rgba(39, 39, 39, 0.2);

        > h1 {
            font-weight: 500;
            margin-bottom: 20px;
        }

        .form {
            display: flex;
            flex-direction: column;

            input {
                margin-top: 2rem;
                font-size: 1.3rem;
            }

            &__signinButton {
                width: 60%;
                margin: 2rem auto;
            }

            &__registerButton {
                width: 100%;
                margin: 0 auto;
                margin-top: 2rem;
            }
        }

        &__terms {
            margin-top: 15px;
            font-size: 1rem;
        }
    }
}

@media (max-width: 37.5em) {
    .login {
        .login__linkBack {
            position: absolute;
            padding: 2rem;
        }
    }

    .login__linkBack > svg {
        font-size: 3rem;
        color: white;
    }

    .login__container {
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 80%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid lightgray;
        padding: 20px;
        box-shadow: 0 1rem 2rem rgba(39, 39, 39, 0.2);

        > h1 {
            font-weight: 500;
            margin-bottom: 20px;
        }

        .form {
            display: flex;
            flex-direction: column;

            input {
                margin-top: 2rem;
                font-size: 1.3rem;
            }

            &__signinButton {
                width: 60%;
                margin: 2rem auto;
            }

            &__registerButton {
                width: 100%;
                margin: 0 auto;
                margin-top: 2rem;
            }
        }

        &__terms {
            margin-top: 15px;
            font-size: 1rem;
        }
    }
}
